@use 'variables' as v;

html {
  box-sizing: border-box;
  font-family: v.$font-body;
  font-size: 16px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

h6 {
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.btn {
  border-color: transparent;
  font-size: v.$font-size-body;
  font-family: v.$font-body;
  padding: 19px 24px;
  border-radius: 5px;
  font-weight: 700;
  max-width: 456px;
  cursor: pointer;
}
