// color
$color-body: #000;
$color-white: #fff;
$color-cta: #013243;
$color-text-img: #86bfd3;
$color-text-input: #8d8d8d;
$color-border-input: #bcbcbc;

// Font
$font-body: "Roboto", sans-serif;
$font-text: "Inter", sans-serif;
$font-form-cta: "DM Sans", sans-serif;

// Font size
$font-size-title: 3.6rem;
$font-size-body: 1.8rem;

// wrapper
$wrapper: clamp(16.3rem, 14.4vw, 28.9rem);

// breakPoints
$breakpoints: (
  small: 499px,
  medium: 699px,
  large: 999px,
  xlarge: 1399px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

// button
@mixin button-bg($bg) {
  background-color: $bg;

  &:hover {
    border: thin solid $color-cta;
    background-image: url("/Assets/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
    color: $color-cta;
  }
}
